.question-answer {
    width: 100%;
    border-bottom: 2px solid #81ec9d;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
  }
  
 
  
  .title-question {
    margin: 1.4rem 0rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
  }
  
  .question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  
  .up-icon {
    display: none;
  }
  
  .dowm-icon {
      color: #000;
  }
  
  .answer {
    font-size: 1.2rem;
    line-height: 1.8;
    display: none;
    margin-bottom: 15px;  }
  
  
  @media screen and (min-width: 992px) {
    .accordion {
      width: 920px;
      height: 0;
      display: flex;
    }
  
    .accordion-img {
      position: relative;
      width: 420px;
      top: 88px;
    }
  
    .question-answer {
      width: 380px;
    }
  
    .content-accordion {
      margin-top: 85px;
    }
  
    .title {
      margin-top: 50px;
      font-size: 3rem;
    }
  }